*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    border: 0;
}
.maincontainer{
    border: 20px solid green;
    width: 100vw;
    height: 100vh;

}

.navbarcontainer{
    border: 10px solid red;
    height: 10%;
    display: flex;
    flex-direction: row;
}
.leftnavbarcontainer,
.midddlenavbarcontainer,
.rightnavbarcontainer{
    border: 2px solid blue;
    width: 20%;
    height: 100%;
}

.leftnavbarcontainer,
.rightnavbarcontainer{
    width: 20%;
}
.midddlenavbarcontainer{
    width: 60%;
}
.maincotnentcontainer{
    border: 10px solid black;
    height: 90%;
    display: flex;
}
.sidebarcontainer{
    border: 2px solid orange;
    width: 20%;
    height: 100%;
}
.videocontainer{
    border: 2px solid purple;
    width: 100%;
    height: 100%;
}
.fixedcategores{
    border: 2px solid ;
    height: 100%;
}
.videocontaner{
    border: 2px solid red;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.vediocardcontaner{
    border: 2px solid red;
    height: 90%;
}
.vediocardcontaner{
    width: 280px;
    height: 200px;
    border: 2px solid black;
    margin: .5rem;
}